// eclipse home
.home-hero {
  background: $blue;
  background: linear-gradient($blue-gradient, $blue);
  height: 567px;
}

.intro {
  ul {
    padding: 0;
    text-align: center;

    li {
      display: inline;
    }
  }
}

.home-bg-one {
  background-image: url('../images/home-bg-one.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
}

.home-bg-two {
  background-image: url('../images/home-bg-two.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
}

.home-bg-three {
  background-image: url('../images/home-bg-three.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;
}

.home-solutions {

  .icon-row {

    ul {
      padding: 0;
      text-align: center;
      display: block;
      margin: 0 auto;

      li {
        display: inline-block;

        img {
          width: 150px;
          height: 150px;
          display: block;
        }
      }
    }
  }
}
