// ECG home page template
.home-hero {
  background: $blue;
  background: linear-gradient($blue, $blue-gradient);
  padding: 100px 0 100px 0;
  height: auto;
  text-align: center;

  @include responsive(min-width, 1024px) {
    height: 567px;
  }

  .hero-logo {
    //max-width: 794px;
    max-width: 75%;
  }

  h2 {
    color: $white;
    font-weight: 300;
  }
}

.intro-images {
  display: none;


  @include responsive(min-width, 600px) {
    display: block;
    margin-top: -75px;
    // padding: 75px 0 0 0;
    @include responsive(min-width, 992px) {
      margin-top: -100px;
    }

    .column-left {
      @include responsive(min-width, 992px) {
        padding: 0;
      }

      img {
        float: right;
      }
    }

    .column-middle {
      @include responsive(min-width, 992px) {
        padding: 0;
      }

      img {
        margin: 0 auto;
        display: block;
      }
    }

    .column-right {
      @include responsive(min-width, 992px) {
        padding: 0;
      }

      img {
        float: left;
      }
    }
    // img {
    //   margin: 0 auto;
    //   display: block;
    // }

    ul {
      padding: 0;
      text-align: center;
      margin-top: -175px;

      li {
        padding-right: 15px;
        display: inline-block;
      }
    }
  }
}

// home tempate intro
.intro {
  text-align: center;
  height: auto;
  padding: 25px 0 25px 0;

  @include responsive(min-width, 600px) {
    height: 300px;
  }

  .wrap {
    max-width: 690px;
    margin: 0 auto;
  }

}

// background image section one
.home-bg-one {
  display: none;

  @include responsive(min-width, 600px) {
    display: block;
    background: url('../images/home-bg-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
  }
}

// background image section two
.home-bg-two {
  display: none;

  @include responsive(min-width, 600px) {
    display: block;
    background: url('../images/home-bg-two.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
  }
}

// background image section three
.home-bg-three {
  display: none;

  @include responsive(min-width, 600px) {
    display: block;
    background: url('../images/home-bg-three.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
  }
}

// home tempate solutions
.home-solutions-background {
  background: $blue;
  background: linear-gradient($blue, $blue-gradient);

  @include responsive(min-width, 768px) {
    padding-bottom: 75px;
  }
}

.home-solutions-copy {
  // height: 300px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;

  .wrap {
    max-width: 675px;
    margin: 0 auto;

    h2 {
      color: $white;
      font-weight: 300;
    }
  }
}

//.home-solutions {

  .icon-row {
    .wrap {
      text-align: center;
      background-color: $white;
      border-radius: 8px;
      // height: 338px;
      margin-bottom: 100px;

      @include responsive(min-width, 768px) {
        margin-bottom: 0;
      }

      img {
        width: 150px;
        height: 150px;
        // display: block;
        margin: -75px auto 0 auto;
      }

      .copy-wrap {
        max-width: 250px;
        margin: 0 auto;
        padding: 25px 0 50px 0;

        h3 {
          color: $blue;
          font-weight: 700;
        }
      }
    }
  }

//}

.home-contact {
  height: 365px;
  text-align: center;

  .wrap {
    max-width: 470px;
    margin: 0 auto;
  }
}

// Solutions template
.solutions-hero {
  background-color: $bg-grey;
  height: 310px;

  h1 {
    color: $purple;
  }
}

.solutions {
  height: auto;
  padding-top: 50px;
  background: $blue;
  background: linear-gradient($blue, $blue-gradient);

  @include responsive(min-width, 992px) {
    height: 300px;
  }

  .single-solutions-list {
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
    list-style: none;

    li {
      width: 100%;
      display: inline-block;
      // margin: 0 5px 0 5px;

      @include responsive(min-width, 768px) {
        // margin-bottom: 0;
        margin-right: 5px;
        margin-left: 5px;
        width: 311px;
      }
    }
  }

  .icon-row {
    .icon-wrap {
      background-color: $white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      @include responsive(min-width, 768px) {
        height: 75px;
      }

      img {
        display: block;
        width: 150px;
        height: 150px;
        // display: block;
        margin: 0 auto 0 auto;
        padding-top: 15px;
        //position: absolute;

        @include responsive(min-width, 768px) {
          padding-top: 0;
          position: relative;
          top: -75px;
          left: 0;
          right: 0;
        }
      }
    }

    .wrap {
      text-align: center;
      background-color: $white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      // height: 338px;

      .copy-wrap {
        max-width: 250px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 50px;

        h3 {
          color: $blue;
          font-weight: 700;
        }
      }
    }
  }

  .solutions_icons {
    display: inline-block;
  }

  .container {

    @include responsive(min-width, 768px) {
      position: relative;
      top: -90px;
    }
  }

  // .icon-row {
  //   .wrap {
  //     text-align: center;
  //     background-color: $white;
  //     border-radius: 8px;
  //     height: 338px;
  //
  //     img {
  //       width: 150px;
  //       height: 150px;
  //       // display: block;
  //       margin: -75px auto 0 auto;
  //     }
  //
  //     .copy-wrap {
  //       max-width: 250px;
  //       margin: 0 auto;
  //       padding-top: 25px;
  //
  //       h3 {
  //         color: $blue;
  //         font-weight: 700;
  //       }
  //     }
  //   }
  // }
}

// Single Solutions Hero
.single-solutions-hero {
  padding: 88px 0 54px 0;
  background: $bg-grey;
  text-align: center;

  img {
    width: 124px;
    height: 124px;
    margin: 0 auto 25px auto;
    display: block;
  }

  .wrap {
    max-width: 700px;
    margin: 0 auto;

    .sub-sections {
      color: $blue;
      font-weight: 700;
      margin-bottom: 0;
    }
  }
}

.solutions-info {
  padding: 45px 0 45px 0;
  background: $blue;
  background: linear-gradient($blue, $blue-gradient);

  .header_solutions {
    background-color: $grey;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;
    padding: 25px 20px 25px 20px;

    .h_solutions_icons {
      color: $blue;
    }

    h3 {
      font-weight: 700;
      margin-bottom: 0;
      color: $purple;
    }
  }
  //
  // .col-md-8, .col-md-4 {
  //   background-color: white;
  // }

  .body_solutions {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
    margin-bottom: 20px;
    background-color: $white;

    p {
      padding: 25px;

      @include responsive(min-width, 768px) {
        padding: 34px 0px 77px 56px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      padding: 25px 0 25px 0;
      width: 236px;
      // height: 236px;

      @include responsive(min-width, 768px) {
        padding: 0;
        position: relative;
        top: 28px;
        right: 15px;
      }

      @include responsive(min-width, 992px) {
        top: -50px;
      }
    }
  }
}

.solutions-single-icons {
  background: $bg-grey;

  @include responsive(min-width, 768px) {
    padding: 115px 0 50px 0;
  }

  .single-solutions-list {
    margin-top: 1rem;
    padding-left: 0;
    text-align: center;
    list-style: none;

    li {
      width: 100%;
      display: inline-block;
      // margin: 0 5px 0 5px;

      @include responsive(min-width, 768px) {
        // margin-bottom: 0;
        margin-right: 10px;
        margin-left: 10px;
        width: 311px;
      }
    }
  }

  .icon-row {
    .icon-wrap {
      background-color: $white;

      @include responsive(min-width, 768px) {
        height: 75px;
      }

      img {
        display: block;
        width: 150px;
        height: 150px;
        // display: block;
        margin: 0 auto 0 auto;
        padding-top: 15px;
        //position: absolute;

        @include responsive(min-width, 768px) {
          padding-top: 0;
          position: relative;
          top: -75px;
          left: 0;
          right: 0;
        }
      }
    }

    .wrap {
      text-align: center;
      background-color: $white;
      border-radius: 8px;
      // height: 338px;

      .copy-wrap {
        max-width: 250px;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 50px;

        h3 {
          color: $blue;
          font-weight: 700;
        }
      }
    }
  }
}

.solutions-questions {
  height: 283px;
  display: flex;
  align-items: center;
  text-align: center;
}

// About Page template
.about {
  height: auto;
  padding: 50px 0 50px 0;
  background: $bg-grey;

  @include responsive(min-width, 768px) {
    height: 600px;
  }

    .sub-sections {
      color: $blue;
      font-weight: 700;
      margin-bottom: 0;
    }

}

.meet-the-team {
  background: $blue;
  text-align: center;
  background: linear-gradient($blue, $blue-gradient);

  h2 {
    color: $white;
  }
}

.our-partners {
  background: $white;
  text-align: center;
  height: auto;
  padding: 3.125em 0 3.125em 0;

  @include responsive(min-width, 576px) {
    //height: 400px;
    height: 25em;
  }

  @include responsive(min-width, 768px) {
    //height: 567px;
    height: 35.4375em;
  }

  .image-wrap {
    //height: 100px;
    height: 6.25em;
    //width: 100px;
    width: 6.25em;

    @include responsive(min-width, 768px) {
      //height: 182px;
      height: 11.375em;
      //width: 182px;
      width: 11.375em;
    }
  }
}

.highlights {
  background: $blue;
  background: linear-gradient($blue, $blue-gradient);
  text-align: center;

  h2 {
    color: $white;
  }
}
