// navigation
// .admin-bar header {
//   top: 32px;
// }

header {
  background-color: $white;
  height: 73px;
}

.site-title {
    svg {
        //width: 167.94px;
        width: 10.49625rem;
        //height: 36.5px;
        height: 2.28125rem;
        display: block;
    }
}

.navbar-brand {
  h1, p {
    margin-bottom: 0;
  }
}

.navbar-nav {
  .link-button {
    margin-right: 20px;
    background-color: $purple;
    color: $white;

    &:hover {
      background-color: $white;
      color: $purple;
      border-color: $purple;
    }
  }
}

.button-nav {
  @include responsive(max-width, 500px) {
    display: none;
  }
}

#nav-toggle {
  @include responsive(max-width, 500px) {
    display: block;
  }
}
