// Base Colors
$white : #ffffff;
$black : #000000;
$grey : #f5f5f5;

// Theme Colors
$blue : #00c0f2;
$blue-gradient : #33cccc;
$blue-two : #33cc99;
$purple : #19164e;
$body : #363636;
$bg-grey : #f4f4f4;